div{
	border:1px solid #000;
}

#principal{
	position:absolute;
	left: 10%;
	padding: 7px;
}

#head{
	border: 0;
	height:120px;
	width:1006px;
	background-color:rgb(255,255,255);
}

#meio{
	border: 0;
	width:985px;
	height:360px;
	backgroung-color:rgb(255,255,255);
	padding: 10px;
}

#foot{
	clear:both;
	height:10px;
	background-color:rgb(210,105,30);
	width:965px;
	padding: 20px;
}

/* Divs tela de Login */

#esquerda{
	width:450px;
	background-color:rgb(255,255,255);
	border: 0;
	float: left;

}

#direita{
	width:450px;
	backgroung-color:rgb(255,255,255);
	border: 0;
	float: right;
}

/* Base do menu */

/* menu horizontal-vertical by micox */
 .menu-hv * { margin: 0; padding: 0;}
 .menu-hv a { display: block; }
 .menu-hv li { list-style: none; float: left; height: 1%; }
 .menu-hv li ul { position: absolute; visibility: hidden;}
 .menu-hv li ul li { float: none; white-space: nowrap; display: inline;}
 .menu-hv li ul li ul { position: absolute; left: 100%; top: 0; }
 .menu-hv li:hover ul, .menu-hv li.over ul { visibility: visible;}
 .menu-hv li:hover ul ul, .menu-hv li.over ul ul { visibility: hidden;}
 .menu-hv ul ul li:hover ul, .menu-hv ul ul li.over ul { visibility: visible;}
 /* visual */
 .menu-hv {  background: #D2691E url(img/bg-menu.jpg) repeat-x top;
                                    width: 950px;  margin: 10 0 0 25px; height: 25px;}
             .menu-hv a { font-weight: bold;  text-decoration: none; color: #FFF;
                                        padding: 0 20px; line-height: 25px;}
             .menu-hv a:hover { text-decoration:  underline; background-color: #0000EE; color: #FFF;}
             .menu-hv ul li ul {  background-color: #696969; border: 1px solid #000; }
